#me-pic {
  height: 300px;
  width: auto;
  border: 3px solid white;
}

#hello-wrapper {
  display: flex;
  justify-content: center;
}

#hello {
  max-width: 500px;
  text-align: center;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon-container {
  overflow: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-icon {
  width: 150px;
  height: 150px;
}

.tech-name {
  padding: 3px 0;
}